body {
  font-family: 'Anonymous Pro', monospace;
  background-color: #fff;
  color: #222;
}

/* .story {
  padding: 0 1em;
  margin: 1em 0;
}
   */

.carousel1 {
  position: relative;
  text-align: center;
  color: black;
  width: 100%;
}

{box-sizing: border-box;}
.slide {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.carousel-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left:0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
  background-color: none;
  color: white;
}

.arrows .left {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  top: 55%;
  left: 10%;
  transform: translate(-50%, -50%);
}

.arrows .right {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  top: 55%;
  left: 90%;
  transform: translate(-50%, -50%);
}

a {
  display: inline-block;
  border-radius: 100%;
}

.left {
  display: inline-block;
  vertical-align: left;
  width: 1em;
  height: 1em;
  background-color:white;
 
  border-radius: 100%;
  margin-right: 0.5em;

}

.left:after {
  content: '';
  display: inline-block;
  margin: 0.25em;
  width: 0.4em;
  height: 0.4em;
  border-top: 0.1em solid #999999;
  border-right: 0.1em solid #999999;
  -moz-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.right {
  display: inline-block;
  vertical-align: left;
  width: 1em;
  height: 1em;
  background-color:white;
  border-radius: 100%;
  /* margin-right: 0.5em; */

}

.right:after {
  content: '';
  display: inline-block;
  margin: 0.255em;
  width: 0.4em;
  height: 0.4em;
  border-top: 0.1em solid #999999;
  border-right: 0.1em solid #999999;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}


.title {
  display: inline-block;
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: black; */
  color : white;
  /* padding : 0 0.5em 0 0.5em; */
  
}

.abouttitle {
  display: inline-block;
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
/* background-color: black; */
  color : white;
  text-align: center;
}


nav {
  position: sticky;
  top: 1em;
}
.navbar-nav {
    /* width: 100%; */
    /* position: fixed;
    top: 10em; */
    margin: 0;
    padding: 1.5em;

    position: absolute;
}

.navbar-nav li {
  /* float: left;  */
  margin-left: 0; 
  list-style: none;
  height: 1.5em;
  /* padding:0; */
}

.navbar-nav li a {
  background-color: lightgray;
   border-radius: 70%;
   cursor: pointer;
   /* display: inline; */
   font-size: 0;
   height: 15px;
   width: 15px;
 }



.navbar-nav li a:hover {
  background-color:red; 
}

.nav a.active {
  background-color: red;
}


.chapter {
  text-align: left;
  margin: 1em 0 0 0;
  padding: 0em 1em 0em 4em;
 }


.landing-splash-image {
  height : 100vh;
  width : 100%;
  background-color: #B2B2B2;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;

}


@media screen and (min-width: 30em) {

  .landing-splash-image {
    height : 70vh;
    background-size : 30em auto;
  }
  
  .title {
    top: 30%;
  }

  .abouttitle {
    top: 37%;

  }

}

@media screen and (min-width: 40em) {

  .fullpage {
    width : 40em;
    margin : 0 auto;
  }

  .title {
    margin: 0 5em 0 9em;
    top: 36%;
    background-color: none;
  }

  .abouttitle {
    margin: 0 2em 0 18em;
    top: 42%;
    background-color: none;

  }

  .landing-splash-image {
    height : 70vh;
    background-position: 10em;
    background-size: 40em;
  
}


